@charset "UTF-8";

body {
  background-color: #e5e5e5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h1 {
  color: #14213d;
}
h1#principal {
  text-align: center;
  font-size: 3em;
  background-color: #fca2112d;
}
p {
  color: #000000;
}
.secundario{
    color: #fca311;
}
.destaque{
    background-color:#00ff4c8e;
}